/* General Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  color: #333;
  background-color: #f9f9f9;
  line-height: 1.6;
}

header {
  text-align: center;
  padding: 20px;
  background-color: #0056b3;
  color: #ffffff;
}

header img {
  border-radius: 50%;
  margin-top: 10px;
}

h1 {
  font-size: 2em;
  margin-bottom: 10px;
}

section {
  background-color: #ffffff;
  padding: 20px;
  margin: 20px auto;
  max-width: 800px;
  border-radius: 8px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}

h2 {
  color: #0056b3;
  font-size: 1.5em;
  margin-bottom: 10px;
}

p, ul {
  font-size: 1em;
  line-height: 1.6;
  margin-bottom: 10px;
}

ul {
  list-style-type: disc;
  padding-left: 20px;
}

a {
  color: #0056b3;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

footer {
  text-align: center;
  padding: 10px;
  background-color: #0056b3;
  color: #ffffff;
  margin-top: 20px;
}

#contact-info, #professional-summary, #education, #experience, #skills, #projects, #social-media {
  margin-bottom: 20px;
}
